<div class="login-container">
  <img class="film" src="../../assets/ss.png" />
  <div class="logo">Rotten Potatos</div>
  <div class="desc">
    Potatoes are sweet, easy to cook and offer different recipes. But when
    potatoes are not stored correctly, the result is rotten potatoes with toxic
    gas. Rotten potatoes smell bad and they can make you sick. However, with the
    help of straightforward preventive measures, the damage can be minimized.
  </div>
  <div class="login-form">
    <div class="form-group">
      <label class="uname">Username</label>
      <input
        type="text"
        name="uname"
        class="form-control"
        [(ngModel)]="username"
      />
    </div>
    <div class="form-group">
      <label class="pword">Password</label>
      <input
        type="password"
        name="pword"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>
    <div class="btn-container">
      <div class="error">{{ errorMsg }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>
</div>
